body {
    color: #FFDDAA;
}

.cyp-container {
    margin: 5px 20% 8px 20%;
}

.cyp-row {
    display: flex;
}

.cyp-col {
    flex-grow: 1;
}

.cyp-card {
    border: 2px solid rgba(200, 200, 30, 1);
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.4) 5px 3px 5px 3px;
    background-color: #20AABB;
}

.cyp-card-header {
    margin: 0px 0px .5rem 0px !important;
    border-radius: 8px 8px 0px 0px;
    padding: 5px;
    background-color: #1088A0;
}

.cyp-card-body {
    padding: 10px;
}

.cyp-card-footer {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    border-top: 1px solid #FFDDAA;
    padding: 10px;
}

    .cyp-card-footer .cyp-card-footer-buttons {
        margin-left: auto;
        justify-content: space-between;
    }

.cyp-pointer {
    cursor: pointer;
}

.cyp-mt-2 {
    margin-top: .5rem;
}

.cyp-picture-button {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
}

    .cyp-picture-button div {
        margin: auto;
    }

.cyp-shadow {
    box-shadow: rgba(200, 200, 30, .5) 0px 0px 10px 5px;
}

/* Buttons */
.cyp-btn-primary {
    background-color: #086690;
    color: #FFDDAA;
    border: 1px solid #FFDDAA;
    box-shadow: black 0px 0px 2px 1px;
}

    .cyp-btn-primary:focus {
        box-shadow: #ffDDaa 0px 0px 2px .5px;
    }

    .cyp-btn-primary:active:focus {
        box-shadow: #ffDDaa 0px 0px 2px 2px;
    }

.cyp-btn-cancel {
    color: #086690;
    background-color: #FFDDAA;
    border: 1px solid #FFDDAA;
    box-shadow: black 0px 0px 2px 1px;
}

    .cyp-btn-cancel:focus {
        box-shadow: #086690 0px 0px 2px .5px;
    }

    .cyp-btn-cancel:active:focus {
        box-shadow: #086690 0px 0px 2px 2px;
    }
